.flex-centered {
  display: flex;
  align-items: center;
}
.flex-full-centered {
  @extend .flex-centered;
  justify-content: center;
}
.title-font {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}
.nav-link {
  max-height: 34px;
  padding: 10px 23px;
  background: red;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: $text-color;
}
.item-border {
  opacity: 1;
}
.link-style {
  color: $text-color;
  text-decoration: none;
  transition: all .3s;
}
.content-box {
  width: 980px;
  margin: 0 auto
}
.content-slider {
  width: 980px;
  margin: 0 auto
}
