@mixin h2-item($margin, $padding) {
  font-size: 21px;
  line-height: 22px;
  font-weight: 700;
  margin: $margin;
  padding: $padding;
  position: relative;
}

@mixin title-text {
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
}
@mixin border-style {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
}
@mixin border-btm-style {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
}
@mixin border-top-style {
  border-top: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
}
@mixin nav-link-lg {
  padding: 10px 23px;
  background: #000;
  display: inline-block;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none;
  color: $text-color;
}
@mixin shadow-img {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
