
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "mixins";
@import "imports";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import "content";
@import "header";
@import "footer";
@import "shared";
@import "index";
@import "inner";
@import "general";
@import "shared_two";
@import "auth";
@import "modal";
@import "header-static";
@import "sidebar";
@import "media";

body {
  color: $text-color;
}
* {
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}
.wrapper {
  background: #fff;
  //word-break: break-all;
}
.content-wrapper {
  margin: auto;
  //background: #f5f5f5;
  overflow: hidden;
}
.nav-sm, .nav-title, .nav-menu, .footer-content, .inner-content {
  @extend .content-box;
}
