.auth-block {
  margin: 30px 0;

}
.form-horizontal {
  color: #565656;
  input {
    border: 1px solid #bfbfbf;
  }
  .checkbox {
    label {
      padding-right: 20px;
    }
    input[type="checkbox"] {
      margin-right: -20px;
    }
  }
}
