.table {
  color: #000;
}
.main-content {
  .second-content-block, .third-content-block {
    padding: 0 20px;
  }

  .first-content-block {
    .main-container {
      position: relative;
      height: 400px;
      margin-bottom: 20px;
      div {
        height: 100%;
      }
      img {
        width: 100%;
      }
      .slick-dots li.slick-active button:before {
          color: #ffffff;
      }
      .slick-dots li button:before {
          color: #ffffff;
      }
      #carousel {
      }
      #carousel:hover {
        .slide-description {
          //opacity: 1;
        }
      }
      .slide-description {
        color: #fff;
        position: absolute;
        height: auto;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        //background: rgba(0, 0, 0, 0.6);
        width: 100%;
        padding-top: 16px;
        padding-bottom: 40px;
        //opacity: 0;
        transition: all ease .5s;
        h2, p {
          margin: 0;
        }
        h2 {
          @extend .title-font;
          font-size: 45px;
          line-height: 50px;
          text-transform: uppercase;
          font-weight: 700;
          text-align: center;
        }
        p {
          font-size: 16px;
        }
        a {
          color: $text-color;
          font-weight: 500;
        }
        a, a:hover, a:link, a:focus {
          text-decoration: none;
        }
        a:hover {
          color: $link-hover-color;
          font-weight: 700;
          transition: all ease .5s;
        }
      }
    }
    [dir="rtl"] button.slick-next {
        height: 60px;
        width: 37px;
        left: 30px;
        background: url(/images/next.png) no-repeat;
    }
    [dir="rtl"] button.slick-prev {
      right: 30px;
      width: 37px;
      height: 60px;
      z-index: 1;
      background: url(/images/prev.png) no-repeat;
      background-position: right;
    }
  }
  .second-content-block {
    // background: #f5f5f5;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    .main-container {
      @extend .content-box;
      padding-bottom: 50px;
      @extend .item-border;
      display: flex;
      //flex-direction: column;
      position: relative;
      justify-content: space-between;
      .main-coupons {
        width: 67%;
        //padding-left: 15px;
      }
      img {
        max-height: 397px;
        object-fit: cover;
      }
      .page-item {
        width: 100%;
        overflow: hidden;
        color: #000;
        .item-content {
          display: flex;
          justify-content: space-between;
          background: #fff;
          .item-logo-box {
            width: 100%;
            max-width: 384px;
            max-height: 255px;
            overflow: hidden;
            img {
              max-height: 255px;
            }
          }
          .item-logo {
            transform: scale(1, 1);
            opacity: 1;
            transition: all ease-in-out .3s;
          }
           .item-logo:hover {
              opacity: 0.7;
           }
          .item-description {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;
            //text-align: center;

            h3 {
              font-size: 24px;
              line-height: 24px;
              font-weight: 500;
              margin: 0;
              padding-bottom: 10px;
              position: relative;
              text-transform: uppercase;
            }
            h4 {
              font-size: 22px;
              line-height: 30px;
              font-weight: 500;
            }
            p {
              display: block;
              font-size: 16px;
              line-height: 26px;
              font-weight: 500;
            }
            a {
              @include nav-link-lg;
              padding: 7px 44px;
              font-size: 21px;
              line-height: 20px;
              background: url('/images/button-cover.png') no-repeat;
              color: #fff;
            }
            a:hover {
              //background: #a7a7a7;
            }
          }
        }
      }
      .page-item:not(:first-child){
        margin-top: 50px;
        @include border-top-style;
        padding-top: 0;
        box-shadow: none;
      }
      .page-item:nth-child(2n) {
        .item-content {
          flex-direction: row-reverse;
        }
      }
      .slide-description {
        @extend .title-font;
        @extend .item-border;
        color: #fff;
        position: absolute;
        height: 109px;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        padding-top: 16px;
        padding-right: 39px;
      }
    }
  }
  .third-content-block {
    margin-top: 23px;
    padding-bottom: 40px;
    overflow: hidden;
    max-width: 980px;
    margin: 23px auto 0;
    padding-right: 0;
    .category {
      margin-bottom: 40px;
      margin-top: 23px;
      display: flex;
    }
    .not-carousell :last-child {
      margin-left: 0;
    }
    .slick-dots{
      bottom: -30px;
      right: 0px;
      height: 15px;
      display: flex;
      justify-content: center;
    }
  }
}
.title-item {
  @extend .title-font;
  padding: 23px 0 5px;
  color: #000;
  font-size: 38px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  p {
    font-size: 14px;
    width: 70%;
    line-height: 18px;
    font-weight: 400;
    margin: 20px auto 0;
    color: #5a5a5a;
  }
}
.title-item:nth-child(2n) {
  text-align: left;
}
.nav-slider {
  width: 100%;
  background: #fff;
  .nav-slider-title {
    position: relative;
    h2 {
      @include h2-item(0 0 2px, 0 0 22px);
      position: initial;
      color: #000;
    }
    h2::before {
      content: '';
      position: absolute;
      width: 300px;
      right: 0;
      bottom: 0;
      background-image: url("/images/bg-header.png");
      height: 10px;
    }
  }
  .nav-slider-title, li {
    padding-right: 20px;
    padding-top: 17px;
  }
  .nav-slider-title {
    padding-right: 29px;
    padding-top: 20px;

  }

  .nav-slider-large-text {
    a {
      padding: 17px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        height: 31px;
        width: 31px;
        margin-left: 20px;
      }
    }
    h3 {
      margin: 0;
      font-size: 18px;
      line-height: 16px;
      font-weight: 300;
    }
    li {
      margin-bottom: 0;
      padding-top: 0;
    }
    a:hover {
      h3 {
        font-weight: 700;
      }
      color: $link-hover-color;
      transition: all ease .5s;
    }
  }
}
.slick-dots {
  bottom: 16px;
  height: 20px;
  text-align: inherit;
  text-align: center;
}
.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\2022";
    z-index: 100;
    font-family: "slick";
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    opacity: .4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.description-content {
  position: relative;
  img {
    object-fit: cover;
    height: 100%;
  }
}
.slick-dots li.slick-active button:before {
    color: #000;
}
.slick-dots li button:before {
    color: #000;
}
.drop-menu-block {
  display: none;
  ul.dropdown-box {
    right: 0;
    margin: 5px 0 0;
    display: flex;
    flex-direction: column;
    li.divider {
      margin: 0 10px;
      text-align: center;
    }
    li:not(.divider) a {
      padding: 5px 20px;
    }
  }
}
.nav-slider-lg {
  width: 297px;
  .nav-slider-large-text {
    ul li {
      display: block;
      width: auto;
    }
    li:not(:first-child) a:before {
      content: none;
    }
  }
}
.additional-menu {
  color: #000;
  //border-top: 1px solid #dad7d7;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-box .category.category-show {
  margin: 0;
  justify-content: space-around;
  .coupon-preview {
    margin: 0;
  }
}
.readmore {
  overflow: hidden;
}
.input-group-box {
  display: flex;
  justify-content: space-between;
  label {
    padding-right: 0;
  }
  input::placeholder {
    color: #808080;
  }
  .form-group {
    width: 50%;
  }
  .checkbox-items {
    padding-top: 7px;
  }
}
.header-title-main {
  text-align: center;
  color: #000;
}
.request-form {
  color: #000;
  width: 80%;
  margin: auto;
  padding: 10px;
  input {
    border: 1px solid rgba(5, 123, 142, 0.42);
  }
}
.content-slider {
  width: 100% !important;
}
.table {
  width: 80%;
  margin: 40px auto;
  min-width: 300px;
}
.persons-counter {
  width: 50px;
  text-align: center;
}
