.footer {
  overflow: hidden;
  background: #99cccc;
  background: #2b3333;
  padding-top: 70px;
  ul, li {
    margin: 0;
    padding: 0;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #fff;
    .company-logo {
      width: 235px;
      text-align: center;
      img {
        margin: 10px 0 30px;
        max-width: 200px;
        max-height: 120px;
      }
      p {
        font-size: 30px;
        line-height: 37px;
        font-weight: 300;
        text-align: center;
        margin: 0;
        color: #fff;
      }
    }
    .footer-items {
      display: flex;
      justify-content: flex-start;
      .footer-item {
        width: 210px;
        margin-right: 30px;

        h2 {
          @include h2-item(0 0 10px, 0 0 10px);
          color: #ffffff;
        }
        h2:before, h2:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          height: 3px;
        }
        h2:before {
          left: 0;
          background-color: #3a3535;
          z-index: 0;
        }
        h2:after {
          width: 56px;
          background-color: #fff;
          z-index: 0;
        }
        li {
          list-style-type: none;
          padding: 8px 0;
          &:not(:last-child) {
            border-bottom: 1px solid #989898;
          }
          a {
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.00625em;
            transition: all ease .3s;
            color: #fff;
          }
          a:hover {
            color: $link-hover-color;
            font-weight: 700;
            letter-spacing: 0.0625em;
            transition: all ease .3s;
          }
        }
      }
    }
  }
  .footer-copyrights {
    padding: 25px;
    h4 {
      text-align: center;
      color: #fff;
    }
  }
}
