.coupon-preview {
  .preview-logo {
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),
                0 4px 25px 0 rgba(0,0,0,.12),
                0 8px 10px -5px rgba(0,0,0,.2);
  }
}
.nav-slider {
  padding: 0;
  overflow: hidden;
  .nav-slider-item {
    color: #000;
    margin: 0 20px;
    text-align: center;
    h4 {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .nav-slider-text {
    display: flex;
    justify-content: space-around;
    ul {
      margin: 0;
      padding: 0 20px;
      width: 100%;
      span {
        width: 56px;
      }
      li {
        padding: 20px 0;
      }
    }
  }
  .slider-icon {
    font-size: 50px;
  }
  .nav-slider-link:nth-child(1) {
    .slider-icon, h4 {
      color: #f6653c;
    }
  }
  .nav-slider-link:nth-child(2) {
    .slider-icon, h4 {
      color: #70bbce;
    }
  }
  .nav-slider-link:nth-child(3) {
    .slider-icon, h4 {
      color: #77cc6d;
    }
  }
}
.map-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .map-description {
    color: #000;
    font-size: 26px;
    text-align: right;
    line-height: 43px;
    font-weight: 700;
  }
  > div {
    margin: 0 10px;
  }
}

.item-heading {
  color: #000;
  font-size: 40px;
  line-height: 38px;
  font-weight: 700;
  margin: 40px 0 20px;
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
}
.item-heading:before, .item-heading:after {
  content: '';
  position: absolute;
  border-bottom: 5px solid;
  bottom: 0;
  right: 0;
}
.item-heading:before {
  width: 20%;
  z-index: 0;
  border-color: #0e96ff;
}
.item-heading:after {
  width: 100%;
  border-color: rgba(125, 125, 125, 0.14);
}
.item-expired {
  color: #000;
  font-size: 16px;
}
.facebook-link::after, .login-link::after, .logout-link::after {
    position: absolute;
    padding: 0 5px;
    line-height: 30px;
    height: 28px;
    background: #000;
    bottom: -29px;
    left: calc( -50%);
    visibility: hidden;
    font-size: 68%;
}
.facebook-link::after {
    content: 'Facebook';
    left: -22px;
}
.login-link::after {
    content: 'Login';
    left: -5px;
}
.logout-link::after {
    content: 'Register';
    left: -12px;
}
.facebook-link:hover::after, .login-link:hover::after, .logout-link:hover::after {
    visibility: visible;
    color: #fff;
}
.title-box {
    text-align: center;
    overflow: hidden;
    padding: 50px 0px 20px;
    .title-item {
      box-shadow: none;
      color: rgb(0, 0, 0);
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 34px;
      line-height: 38px;
      padding: 0px;
      margin: 0px;
    }
    .heading-subtitle {
      color: rgb(153, 153, 153);
      font-size: 14px;
    }
    .title-item::before {
      right: 100%;
      margin-right: 20px;
    }
    .title-item::after {
      left: 100%;
      margin-left: 20px;
    }
    .title-item::after, .title-item::before {
        position: absolute;
        content: "";
        display: block;
        width: 900px;
        height: 6px;
        top: 50%;
        margin-top: -3px;
        border-top: 2px solid rgb(119, 119, 119);
        border-bottom: 1px solid rgb(186, 186, 186);
    }
}
.category {
  display: flex;
  flex-wrap: wrap;
}
.page-items-container {
  //background: #fff;
}
.page-items-container:nth-child(2n) {
  //background: #f5f5f5;
  margin: 20px 0;
}
.inner-content.head {
  padding: 0 10px;
}
.main-content .image-description {
  padding: 30px 10px 20px;
}
