.header {
  background: #fff;
  //max-height: 95px;
  overflow: hidden;
  z-index: 1;
}
.header-menu {
  display: flex;
}
.header-menu > a {
  color: #636b6f;
  text-decoration: none;
  margin: 0 2px;
}
.header-menu > a:hover, .header-menu > a:active {
  color: #caa423;
}
.header-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  .fa {
    font-size: 2em;
  }
  h3 {
    font-size: 14px;
    margin: 5px 0;
    font-weight: 700;
  }
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 0;
  border-bottom: 1px solid #d4d4d4;
}
.header-brand {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
.header-lang {
  background: #000;
  color: #fff;
  //height: 20px;
}
.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  .header-lang {
    display: none;
  }
}
