.nav-sm-container {
  padding: 0 20px;
  background: #1c1c1c;
}
.nav-sm {
  @extend .flex-centered;
  justify-content: space-between;
}
.nav-links {
  @extend .flex-centered;
  justify-content: flex-end;
}
.header-link {
  height: 37px;
}
.header-nav{
  font-size: 14px;
  line-height: 40px;
  //margin: 0 auto;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
    list-style-type: none;
    display: inline-block;
  }
  a {
    padding: 7px 13px 14px;
    position: relative;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    i {
      font-size: 20px;
      padding: 10px 0;
    }
  }
  .large-menu-block a:hover {
    color: #cacaca;
  }
}
.main-logo {
  position: relative;
  .main-logo-bg {
    position: absolute;
    left: -270px;
  }
  .main-logo-sm {
    position: relative;
    z-index: 1;
    top: 5px;
  }
}
.nav-lg {
  @include border-btm-style;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  background: #ffffff;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .nav-menu {
    margin: 0 auto;
  }
  .header-company-logo {
    margin: 20px 0;
    height: 120px;
  }
}
.nav-title {
  color: #000;
  font-weight: 700;
  text-align: center;
}
.fa.fa-bars {
  font-size: 21px;
}
.dropdown-toggle {
  background: none;
  border: none;
}
.dropdown.open {
  .dropdown-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
    margin-top: 5px;
    li {
      width: 100%;
      text-align: center;
    }
    li.divider {
      margin: 0 auto;
      width: 95%;
    }
    a {
      width: 100%;
      padding: 5px 0;
    }
  }
}
.nav-menu {
  @extend .flex-centered;
  justify-content: space-between;

  .menu-item {
    width: 100%;
    padding-top: 12px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 500;
  }
  .menu-item-link {
    text-decoration: none;
    color: #262626;
    cursor: pointer;
    display: inline-block;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    transition: all .3s;
    margin: 0 5px;
  }
  .nav-active {
    border-bottom: 5px solid #000;
  }
  .menu-item-link.drop:hover {
    color: #9e9e9e;
    transition: all .3s;
  }
  .menu-item-link:not(.drop):hover {
    border-bottom: 5px solid #9e9e9e;
    color: #9e9e9e;
    transition: all .3s;
  }
  .dropdown .menu-item-link {
    margin: 0;
    width: 100%;
  }

  .nav-active:hover {
    border-bottom: 5px solid #d0cece;
    color: #d0cece;
  }
   .nav-menu-logo img {
    max-width: 200px;
    max-height: 100px;
  }
}
