.index-items-list {
  .items-container {
    display: flex;
    flex-wrap: wrap;
    > div {
      margin-left: 39px;
      margin-bottom: 60px;
    }
    > div:nth-of-type(3n){
      margin-left: 0;
    }
  }
  .index-items-list .title-item .title-content {
    padding-top: 14px;
    height: 43px;
}
  .title-item {
    margin-bottom: 30px;
    .title-content {
      margin-bottom: 10px;
      h2 {
        font-size: 26px;
        line-height: 28px;
      }
    }
  }
}
