.main-content {
  //padding: 0 20px;
  .item-container {
    justify-content: space-between;
    align-items: flex-start;
    .item-content {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 20px 0;
      img {
        width: 100%;
      }

    }
    .additional-menu {
      .nav-slider.small {
        margin-bottom: 40px;
      }
    }
  }
  .item-image {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    @include shadow-img;
  }
  .item-image {
    z-index: 0;
  }
  .image-description {
    width: 100%;
    display: flex;
    padding: 30px 0 20px;
    justify-content: space-between;
    h3 {
      font-size: 36px;
      line-height: 38px;
      font-weight: 500;
      margin: 0 0 15px;
      padding-bottom: 10px;
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      color: #000;
    }
    .item-text-box {
      width: 50%;
      margin-left: 50px;
      color: #000;
    }
  }
  #coupon-map {
    width: 100%;
    height: 400px;
  }
  .map-container {
    width: 50%;
  }
}
.inner-container.image-block {
  background: #f5f5f5
}
.inner-container:not(.image-block) {
  background: #fff;
  margin-bottom: 50px;
}
.comments-block {
  color: #000;
  border-top: 1px solid #dad7d7;
  padding: 0 20px;
  textarea {
    border: 1px solid #99cccc;
    border-radius: 8px;
  }
  .comments-title {
    font-size: 21px;
    line-height: 22px;
    font-weight: 700;
    margin: 20px 0;
    padding: 0 0 22px;
    position: relative;
    color: #000;
  }
  .comments-title:before {
     content: '';
     position: absolute;
     width: 300px;
     right: 0;
     bottom: 0;
     background-image: url('/images/bg-header.png');
     height: 10px;
  }
  .comment-author {
    font-size: 14px;
    font-weight: 700;
    color: #439dca;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    padding: 2px 0;
    text-transform: uppercase;
  }
  .comment-time {
    font-weight: 400;
    color: #4b4f4f;
    display: inline-block;
    padding: 2px 0;
    text-transform: lowercase;
  }
  .comment-text {
    font-size: 14px;
    font-weight: 500;
    padding-right: 40px;
  }
  .new-comment {
    margin: 40px 0;
    .comments-title {
      margin-top: 0;
    }
  }
  .comment-box:not(:last-child) {
    border-bottom: 1px solid #efeeee;
    margin-bottom: 20px;
  }
}
.comment-help-block {
  color: #a94442;
}
#coupon-details {
  display: none;
}
.coupon-details-block {
  border-top: 1px solid #dad7d7;
}
.coupon-details-button, .coupon-details-alert {
  margin: 20px;
}
.coupon-details-alert {
  font-size: 20px;
  color: #000;
}
