@media (min-width: 768px){
  .coupon-preview {
    margin-left: 10px;
  }
}
@media (min-width: 1200px){
  .nav-container {
      width: 1010px;
  }
}


@media screen and (max-width: 1170px){
  .content-box {
    width: 95%;
  }
  .content-slider {
    width: 100%;
  }
}
@media screen and (max-width: 1024px){
  .content-box, .content-slider {
    width: 100%;
  }

  .coupon-preview {
    max-width: 80%;
    margin-right: 10%;
  }
  .footer .footer-content {
    justify-content: center;
  }
}

@media screen and (max-width: 768px){
  .nav-lg, .large-menu-block {
     display: none !important;
   }
   .drop-menu-block {
     display: block !important;
   }
   .nav-menu {
     .nav-menu-logo {
       margin: 0 auto;
     }
   }
  .main-content {
    .first-content-block {
      .main-container {
        height: 300px;
      }
    }
  }
  .main-content .second-content-block .main-container {
    overflow: hidden;
    flex-direction: column;
    .main-coupons {
      width: 100%;
    }
    .nav-slider {
      width: 100%;
    }
    .page-item {
      .item-content {
        flex-direction: column;
        align-items: stretch;
        .item-description {
          width: 100%;
          margin: 0 20px;
        }
        .item-logo-box {
          width: 70%;
          margin: 20px auto;
        }
      }
    }
    .page-item.first .item-content {
      flex-direction: column-reverse;
    }
  }
  .footer .footer-content {
    flex-direction: column;
    align-items: center;
    .footer-items {
       flex-direction: column;
       width: 100%;
       padding: 0 20px;
       .footer-item {
         width: 100%;
         margin: 0;
       }
     }
    .company-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
      img, p {
        margin: 0 10px;
      }
    }
  }
  .main-content .image-description {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    .item-text-box {
      width: 100%;
      margin: auto;
    }
    .map-container {
     width: 100%;
   }
  }
  .company-name {
    font-size: 24px;
    line-height: 38px;
  }
  .additional-menu {
    flex-direction: column-reverse;
    padding: 20px 10px;
  }
}

@media screen and (max-width: 425px){
  .main-content {
    .first-content-block {
      .main-container {
        height: 250px;
        [dir="rtl"] button.slick-next {
            left: 15px;
        }
        [dir="rtl"] button.slick-prev {
          right: 15px;
        }
      }
    }
  }
  .main-content .second-content-block .main-container {
    .page-item {
      .item-content {
        .item-description {
          width: 100%;
          margin: auto ;
        }
        .item-logo-box {
          width: 100%;
          margin: 20px auto;
          max-height: 200px;
          img {
            max-height: 200px;
          }
        }
      }
    }
  }
  .header-nav a {
    padding: 7px 5px 14px;
  }
}
@media screen and (max-width: 325px){
  .main-content {
    .first-content-block {
      .main-container {
        height: 200px;
      }
    }
  }
}
