.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.sclogin.sourcecoast .input-block-level {
    text-align: center;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
}
.input-append, .input-prepend {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 0;
    white-space: nowrap;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
}
.modal {
  .btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 14px;
    font-family: inherit;
    font-weight: 300;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    border: none;
    background: #87c502;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    }
  .btn:hover, .btn:focus {
    background: #76ac02;
    text-decoration: none;
  }
  .social-login {
    text-align: center;
    padding: 20px;
  }
  .sclogin-joomla-login.vertical input#sclogin-username.input-block-level, .sclogin-joomla-login.vertical input#sclogin-passwd.input-block-level {
    width: 87% !important;
  }

  input#sclogin-username.input-block-level, input#sclogin-passwd.input-block-level {
    height: 30px;
  }
  #sclogin-username, #sclogin-passwd {
    margin-top: 0px;
  }
  .sclogin.sourcecoast .input-block-level > input {
    text-align: right;
  }
  .sclogin.sourcecoast .input-block-level {
    text-align: center;
  }
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    color: #222;
  }
  .input-append input, .input-append select, .input-append .uneditable-input {
    border-radius: 0 2px 2px 0;
  }
  .input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    border-radius: 0 2px 2px 0;
  }
  .input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu, .input-append .popover, .input-prepend .popover {
    font-size: 14px;
  }
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    line-height: normal;
    height: 40px;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #ececec;
    color: #afafaf;
    background: #ffffff;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
  }
  .input-block-level {
    display: block;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
  }
  .input-block-level {
    display: block;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
  }
  .modal-title {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    color: #474747;
  }
}
.btn-coupon {
  background: #87c502;
  color: #fff;
  margin: 4px;
  padding: 7px 13px;
}
