.inner-nav-menu {
  width: 100%;
  max-width: 270px;
  .inner-nav-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  h3 {
    margin: 0;
  }
  i {
    font-size: 35px;
    padding: 0 10px 0 15px;
  }
  a {
    text-decoration: none;
    color: #000;
    display: block;
    margin: 10px;
    padding: 20px;
  }
  a:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  }
}
