.coupon-preview {
  @extend .item-border;
  width: 300px;
  max-width: 300px;
  height: auto;
  margin-left: 38px;
  display: inline-block;
  color: #000;
  position: relative;

  .peview-text {
    //text-align: center;
    padding-right: 10px;
    p, h3, h4 {
      color: #000;
    }
    h4 {
      font-size: 14px;
    }
    p {
      display: block;
      font-size: 18px;
      line-height: 20px;
      font-weight: 300;
    }
  }


  .preview-logo {
    position: relative;
    img {
      transform: scale(1, 1);
      transition: all ease-in-out .3s;
      height: 180px;
      width: 100%;
      opacity: 1;
    }

  }
  .preview-text {
    a {
      color: #000;
    }
    h3 {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 15px 10px 8px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
    }
    top: 0;
    a:hover, a:active, a:link, a:visited {
        //color: $link-hover-color;
        text-decoration: none;
        outline: none;
        border: none;
    }
  }
}
.coupon-preview:nth-child(3n) {
  margin-left: 0;
}
.coupon-preview:hover {
  .preview-text {
    display: block;
  }
  .preview-logo {
    img {
      opacity: 0.7;
    }
  }
}

.slick-prev, .slick-next {
  height: 39px;
  width: 25px;
}
button.slick-prev::before, button.slick-next::before,
[dir="rtl"] .slick-prev:before, [dir="rtl"] .slick-next:before {
  content: none;
}
[dir="rtl"] {
  button.slick-prev {
    background: url('/images/prev-black.png') no-repeat;
    right: -47px;

  }
  button.slick-next {
    background: url('/images/next-black.png') no-repeat;
    left: -45px;
  }
}
.slick-prev:hover, .slick-prev:focus {
  background: url('/images/prev-black.png') no-repeat;
}
.slick-next:hover, .slick-next:focus {
  background: url('/images/next-black.png') no-repeat;
}
.title-box {
    margin-bottom: 20px;
    .title-content {
      a {
        @extend .link-style;
      }
      a:hover {
        color: $link-hover-color;
      }
      h2 {
        margin: 0;
        margin-bottom: 12px;
        @include title-text;
      }
    }
    .decoration-block {
      height: 10px;
      background: #fff;
    }
}
.nav-slider {
  @extend .item-border;
  width: 27%;
  padding-right: 20px;
  padding-top: 17px;
  .nav-slider-text {
    a {
      color: #000;
      font-weight: 500;
    }
    a, a:hover, a:link, a:focus {
      text-decoration: none;
    }
    a:hover {
      color: $link-hover-color;
      font-weight: 700;
      transition: all ease .5s;
    }
    li {
      text-decoration: none;
      list-style-type: none;
      padding: 17px 0;
      h4 {
        margin: 0;
        display: flex;
        align-items: center;
      }
      .fa {
        font-size: 1.8em;
        margin: 0 9px 0 17px;
      }
    }
    li:nth-child(1) .fa{
      color: #56b1db;
    }
    li:nth-child(2) .fa{
      color: #b4b42a;
    }
    li:nth-child(3) .fa{
      color: #b11cb4;
    }
    li:nth-child(4) .fa{
      color: #897438;
    }
    li:nth-child(5) .fa{
      color: #db0a0a;
    }
    li:nth-child(6) .fa{
      color: #85c249;
    }
    li:nth-child(7) .fa{
      color: #dd8d28;
    }
    li:nth-child(8) .fa{
      color: #ae2975;
    }
    li:nth-child(8) .fa{
      color: #000;
    }
    li:not(:last-child) {
      border-bottom: 1px solid #7b7b7b;
    }
    h4 {
      margin: 5px 0 10px;
    }
    p {
      margin-bottom: 16px;
    }
  }
  .nav-slider-large-text {
    a {
      padding: 25px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        height: 31px;
        width: 31px;
        margin-left: 20px;
      }
    }
    h3 {
      margin: 0;
      font-size: 18px;
      line-height: 16px;
      font-weight: 300;
      text-transform: uppercase;
    }
    li {
      margin-bottom: 0;
    }
    a:hover {
      h3 {
        font-weight: 700;
      }
      color: $link-hover-color;
      transition: all ease .5s;
    }
  }
}
