.nav-sidebar-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 3;
  transition: all 0.3s;
  .nav-sidebar {
    transition: width 0.2s;
    width: 0;
  }
}
.nav-open {
  .nav-sidebar {
    width: 300px;
  }
  //width: 100%;
  visibility: visible;

  display: block;
  background: RGBA(97, 97, 97, 0.53);

}

.nav-sidebar {
  background: #fff;
  width: 300px;
  color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: width 0.3s;
  ul, li {
    padding: 0;
    margin: 0;
  }
  .nav-sidebar-item {
    border-bottom: 1px #e5e5e5 solid;
    list-style-type: none;
    a {
      padding: 10px 5px;
      font-size: 14px;
      text-decoration: none;
      color: #000;
      width: 100%;
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      transition: 0.3s all;
    }
    a:hover {
      padding-left: 13px;
      background: #eeeeee;
    }
    .sidebar-close-button {
      text-align: right;
      padding: 5px 10px;
      font-size: 18px;
      background: #000;
      color: #fff;
    }
    .sidebar-close-button:hover {
      background: #000;
      color: #fff;
    }
  }
  .nav-sidebar-item {
  }

}
